@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  min-height: 100%;
}

#main-container {
  position: relative;
  min-height: 300vh;
  width: 100%;
  top: 72px;
  overflow-x: hidden; /* Temp */
}

#footer-container {
  position: absolute;
  width: 100%;
  height: auto;
  background: #212529;
  overflow-x: hidden;
}
