
.canvas-container {
  padding-top: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3fe;
}

.canvas-container > .lower-canvas  {
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,.3)
} 