body {
  margin: 0;
}

.container {
  top: 82px; 
  position: fixed;
  display: flex;
  min-width: 100%;
  max-height: 500px;
  overflow-y: overlay;
}

.left, .middle, .right {
  flex-grow: 1;
}

.left, .right {
  flex-basis: 20%; /* 2.5/10 * 100% */
}

.middle {
  overflow-y: auto;
  flex-basis: 60%; /* 5/10 * 100% */
}

.left {
  background-color: #f0efef; /* or any color you desire */
}

.middle {
  background-color: #fff; /* or any color you desire */
  overflow-x: hidden;
}

.right {
  background-color: #f0efef; /* or any color you desire */
}

@media (max-width: 768px) {
  .left, .right {
    display: none;
  }

  .middle {
    flex-basis: 100%; /* Expand to full width on small screens */
  }
}
