@import '~bootstrap/dist/css/bootstrap.css';

.app {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 1;
  background-color: rgb(241, 240, 240);
}

.main-content {
  flex: 2;
  /* background-color: lightblue; */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
  .sidebar {
    flex: 0;
  }
  .main-content {
    flex: 1;
  }
}


.sideBarCustom{
  /* background-color:red; */
  div{
    direction: ltr;
  }
}


.fabric-border {
  border: 2px solid red; /* Border width, style, and color */
  position: absolute; /* Position the border relative to the canvas */
  pointer-events: none; /* Ensure the border does not intercept mouse events */
  z-index: 1; /* Ensure the border is above other canvas elements */
}

.leftBarCustom{
  /* background-color:red; */
  li{
    text-align: left;
    border-bottom: 1px solid #dfdfdf
  }
}

.side_bar_left_custom{
  /* background-color:red; */
  li{
    text-align: left;
    span:first-child {
        margin-right: 30px !important; /* Adjust the value as needed */
    }
  }
}

.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.formbold-file-input input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.formbold-drop-file {
  display: block;
  font-weight: 600;
  color: #07074d;
  font-size: 20px;
  margin-bottom: 8px;
}
.formbold-or {
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  display: block;
  margin-bottom: 8px;
}
.formbold-browse {
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  display: inline-block;
  padding: 8px 28px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}