@import '~bootstrap/dist/css/bootstrap.css';

.app {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 1;
  background-color: rgb(241, 240, 240);
}

.main-content {
  flex: 2;
  /* background-color: lightblue; */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
  .sidebar {
    flex: 0;
  }
  .main-content {
    flex: 1;
  }
}


.sideBarCustom{
  /* background-color:red; */
  div{
    direction: ltr;
  }
}


.fabric-border {
  border: 2px solid red; /* Border width, style, and color */
  position: absolute; /* Position the border relative to the canvas */
  pointer-events: none; /* Ensure the border does not intercept mouse events */
  z-index: 1; /* Ensure the border is above other canvas elements */
}

.leftBarCustom{
  /* background-color:red; */
  li{
    text-align: left;
    border-bottom: 1px solid #dfdfdf
  }
}