
.customBtnGroup Button {
  /* width: 60px;
  height: 28px; */
  font-weight: bold;
  padding-top: 2px;
  background-color: #fff;
  color: black;
  font-size: 15px;
  font-family: emoji;
  border: none;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
  /* background-color: #ff9600;  on select*/
  border: 1px solid rgb(237, 236, 236)
}

.customBtn {
  width: 65px;
} 

.customDropdownBtn Button {
  /* width: 60px;
  height: 28px; */
  font-weight: bold;
  /* padding-top: 2px; */
  background-color: #fff;
  color: black;
  font-size: 15px;
  font-family: emoji;
  border: none;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
  /* background-color: #ff9600;  on select*/
}

.font-cont {
  margin: 20px auto;
}

.textarea-cont {
  font-size: 13px;
  min-width: 260px;
  min-height: 101px;
}



.drop_down_menu{
  max-height: 250px;
  overflow-y: auto;
  margin-left: -13px;
}