.navigation-wrapper {
    position: relative;
    width: 100%;
  }
  
  [class^="number-slide"],
  [class*=" number-slide"] {
    /* background: grey; */
    padding: 26px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    max-height: 300px;
  }
  
  .number-slide1 {
    max-width: 300px;
    border-radius: 8px;
    background-color: #ffff;
    /* border: 1px solid red; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 3px 0;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
  }

  .arrow-left {
    left: 15px;
  }
  
  .arrow-right {
    left: auto;
    right: 15px;
  }

    
.ratting, .date-time {
    height: 37px;
    font-size: 10px;;
    color: #585858;
}

.review {
    margin-bottom: 27px;
    min-height: 67px;
    font-size: 15px;
    text-align: left;
    color: #767474;

}
.user {
    color: black;
    font-size: 18px;
    font-weight: 800;
}
.company {
  font-size: 10px;
  color: #585858;
}
.profile {
  /* font-size: 10px;; */
}
